* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: "Dancing Script", cursive;
  /* font-family: "Palette Mosaic", cursive; */
}

.landingPage {
  background-color: hsl(354, 82%, 61%);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 500px;
  width: 100%;
}
.landigText {
  padding-top: 150px;
  width: 445px;
  left: 165px;
  text-align: justify;
}

.title {
  font-size: 42px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
}

.text {
  margin-top: 24px;
}

.vector {
  margin-top: 20px;
}

.vector img {
  margin-right: 20px;
  height: 28px;
  width: 28px;
}

.slider1 {
  padding-top: 95px;
  padding-left: 150;
  width: 545px;
  height: 311px;
  left: 735px;
  top: 94px;
  border-radius: 15px;
}

.contacts {
  margin: 117px;
  display: flex;
  flex-direction: row;
  height: 311px;
  display: flex;
  flex-direction: row;
  justify-content: flex-around;
}

.left-field {
  width: 445px;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
}

.left-field p {
  margin-top: 50px;
}

.right-field form {
  margin-left: 225px;
  display: flex;
  flex-direction: column;
}

.right-field input,
select {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.button {
  background-color: #ed4c5c;
  color: #fff;
}

select {
  color: grey;
}

/* .right-field select {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
} */

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fafafa;
  padding-top: 85px;
}

.adress,
.service,
.getIn,
.support {
  width: 150px;
}

.adress h3,
.service h3,
.getIn h3,
.support h3 {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}
.information p {
  font-size: 18px;
}

.cc {
  background-color: #fafafa;
  text-align: center;
}
